@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
	<title>@title</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/buttons.css")">
	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
	<script type="text/javascript" src="http://localhost:9000/assets/OpenLayers-2.12/OpenLayers.js"></script>
	<script>
		@*drawControls is used for the draw controls. If you want to use them, uncomment this variable.*@
		var map@*, drawControls*@;

		@*This is used to restrict the user to keep them from viewing the outside of the map. Change these values to match the size of your map.*@
		var extent = new OpenLayers.Bounds(-180,-90,180,90);

		function init(){
			@*These are the options for the openlayers map. Change as you see fit.*@
			var options = {
				restrictedExtent: extent,
				numZoomLevels: 15,
				controls: [
					new OpenLayers.Control.Navigation({dragPanOptions: {enableKinetic: true}}),@*This option is to enable momentum when scrolling the map.*@
					new OpenLayers.Control.PanZoom(),
				]
			};

			@*Creates the openlayers map.*@
			map = new OpenLayers.Map('slippyMap', options);

			@*These are the map layers. Comment out any that you don't want to use.*@

			@*This layer if for use with data that is already loaded into the database.*@
			var world = new OpenLayers.Layer.WMS(
				"The World",
				"http://localhost:8080/",
				{layers: 'shape'},
				{singeTile: true, transitionEffect: 'resize', wrapDateLine: true}
			);

			@*This layer if for use with custom data that can be created with Quantum GIS.
			Uncomment this section and below where it is added to the map layers if you choose to setup the custom dataset in the database. *@
			@*var custom = new OpenLayers.Layer.WMS(
				"Custom Map Tile",
				"http://localhost:8080/",
				{layers: 'custom'}
			);*@

			@*This layer is pulling tiles from a remote server, but the tiles are being cached locally.*@
			var osgeo = new OpenLayers.Layer.WMS(
				"osgeo map",
				"http://localhost:8080/",
				{layers: 'osgeo'},
				{singeTile: true, transitionEffect: 'resize', wrapDateLine: true}
			);

			@*These last two layers are from OpenStreetMap and are not being cached locally.*@
			var ocm = new OpenLayers.Layer.OSM(
				"OpenCycleMap",
				["http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				"http://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				"http://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]
			);

			var osm = new OpenLayers.Layer.OSM();

			@*If you comment out or remove any of the above layers, make sure to remove them from here as well.*@
			map.addLayers([world, @*custom,*@ osgeo, ocm, osm]);

			@*This section of code is used to create drawing controls for openlayers.*@

			@*This defines the style for the drawn elements created with the drawing controls.*@
			@*var my_style = new OpenLayers.StyleMap({
				"default": new OpenLayers.Style(
				{
					pointRadius: 6,
					strokeColor: "#ff0000",
					fillColor: "#aa0000",
					fillOpacity: 0.5,
					strokeWidth: 3,
					fontColor: "blue",
					fontSize: 10,
					fontFamily: "Arial",
					fontWeight: "bold"
				})
			});*@

			@*These layers are for the corresponding draw controls, so that each controls drawings are in a different layer.*@
			@*var pointLayer = new OpenLayers.Layer.Vector("Point Layer",
				{
					isBaseLayer: false,
					styleMap: my_style,
					rendererOptions: {zIndexing: true},
					extractAttributes: true
				});
			var lineLayer = new OpenLayers.Layer.Vector("Line Layer",
				{
					isBaseLayer: false,
					styleMap: my_style,
					rendererOptions: {zIndexing: true},
					extractAttributes: true
				});
			var polygonLayer = new OpenLayers.Layer.Vector("Polygon Layer",
				{
					isBaseLayer: false,
					styleMap: my_style,
					rendererOptions: {zIndexing: true},
					extractAttributes: true
				});
			var boxLayer = new OpenLayers.Layer.Vector("Box layer",
				{
					isBaseLayer: false,
					styleMap: my_style,
					rendererOptions: {zIndexing: true},
					extractAttributes: true
				});*@

			@*Here is the renderer for the draw controls. It renders the drawn elements.*@
			@*var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
			renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;*@

			@*This makes the drawing stuff work*@
			@*vectors = new OpenLayers.Layer.Vector("Vector Layer", {
				renderers: renderer,
				isBaseLayer: false,
				styleMap: my_style,
				rendererOptions: {zIndexing: true},
				extractAttributes: true
			});*@

			@*Add the drawing layers to the map*@
			@*map.addLayers([pointLayer, lineLayer, polygonLayer, boxLayer, vectors]);*@

			@*Creates an opject that stores all the draw controls.*@
			@*drawControls = {
				point: new OpenLayers.Control.DrawFeature(vectors,
					OpenLayers.Handler.Point),
				line: new OpenLayers.Control.DrawFeature(vectors,
					OpenLayers.Handler.Path),
				polygon: new OpenLayers.Control.DrawFeature(vectors,
					OpenLayers.Handler.Polygon),
				box: new OpenLayers.Control.DrawFeature(vectors,
					OpenLayers.Handler.RegularPolygon, {
						handlerOptions: {
							sides: 4,
							irregular: true
						}
					}
				),
				drag: new OpenLayers.Control.DragFeature(vectors)
			};*@

			@*Adds all the controls to the map.*@
			@*for(var key in drawControls) {
				map.addControl(drawControls[key]);
			}*@

			@*Final steps to setup the map. These can be changed *@
			map.addControl(new OpenLayers.Control.LayerSwitcher({ roundedCornerColor:'#005500'}));
			map.zoomToMaxExtent();
			map.events.register('changelayer', null, function(){
				map.zoomToMaxExtent();
				}
			);
		}

		@*These function are used to control the buttons and their functions. The sections that are comment out are for the draw controls.*@
		function toggleRestrictedExtent(element) {
			if(map.restrictedExtent != extent) {
				map.setOptions({restrictedExtent: extent});
				element.classList.remove('selected');
			} else {
				map.setOptions({restrictedExtent: null});
				element.classList.add('selected');
			}
		}

		@*function toggleControl(element) {
			if(element.name == "draw") {
				if(element.classList.contains('selected')){
					document.getElementById(element.name + "Toggle").classList.remove('selected');
				} else {
					document.getElementById(element.name + "Toggle").classList.add('selected');
				}
			}
			if(element.name=="box"){
				if(!element.classList.contains('disabled')){
					if(document.getElementById("panToggle").classList.contains('selected')) {
						enablePan(document.getElementById("panToggle"));
					}
				}
			}
			if(element.name == "pan" || document.getElementById("drawToggle").classList.contains('selected')){
				if(document.getElementById("panToggle").contains('selected')) {
					document.getElementById("panToggle").classList.remove('selected');
					if(!document.getElementById("drawToggle").classList.contains('selected')){
						document.getElementById("panToggle").classList.remove('btn');
						document.getElementById("panToggle").classList.add('disabled');
					}
				} else {
					if(document.getElementById("drawToggle").classList.contains('selected')){
						document.getElementById("panToggle").classList.add('btn');
						document.getElementById("panToggle").classList.remove('disabled');
					}
				}
			} else {
				document.getElementById("panToggle").classList.remove('selected');
				if(!document.getElementById("drawToggle").classList.contains('selected')){
					document.getElementById("panToggle").classList.remove('btn');
					document.getElementById("panToggle").classList.add('disabled');
				}
			}
			for(key in drawControls) {
				var control = drawControls[key];

				if(element.name == key || document.getElementById("drawToggle").classList.contains('selected')){
					if(control.active) {
						mode(key, 'deselect');
						if(!document.getElementById("drawToggle").classList.contains('selected')){
							mode(key, 'disable');
						}
					} else {
						if(document.getElementById("drawToggle").classList.contains('selected')){
							if(element.name == key){
								mode(key, 'select');
							}
							mode(key, 'enable');
						}
					}
				} else {
					mode(key, 'deselect');
					if(!document.getElementById("drawToggle").classList.contains('selected')){
						mode(key, 'disable');
					}
				}
			}
		}

		function enablePan(element) {
			var stop = !element.classList.contains('selected');
			if(!document.getElementById("boxToggle").classList.contains('selected')){
				for(var key in drawControls) {
					if(!(key == "box" || key == "drag")){
						drawControls[key].handler.stopDown = !stop;
						drawControls[key].handler.stopUp = !stop;
					}
				}
				if(stop){
					if(!element.classList.contains('disabled')){
						element.classList.add('selected');
					}
				} else {
					element.classList.remove('selected');
				}
			}
		}*@

		@*This function is used to set the state of buttons.*@
		function mode(key, mode) {
			var control = drawControls[key];
			if(mode=='enable'){
				document.getElementById(key + "Toggle").classList.add('btn');
				document.getElementById(key + "Toggle").classList.remove('disabled');
			} else if(mode=='disable'){
				document.getElementById(key + "Toggle").classList.remove('btn');
				document.getElementById(key + "Toggle").classList.remove('selected');
				document.getElementById(key + "Toggle").classList.add('disabled');
			} else if(mode=='select'){
				control.activate();
				document.getElementById(key + "Toggle").classList.add('selected');
			} else if(mode=='deselect'){
				control.deactivate();
				document.getElementById(key + "Toggle").classList.remove('selected');
			}
		}
	</script>
</head>
<body onload="init();">

<div id="contentWrapper" class="content_wrapper">
	@content
</div>

<div id="buttonWrapper" class="button_wrapper">
	<button class="btn" value="Allow world wrapping" id="worldWrap" onclick="toggleRestrictedExtent(this)" >Allow world wrapping</button><br>
	@*These buttons are for the draw controls. Use them if you wish*@
	@*<button class="btn" name="draw" value="Toggle Draw" id="drawToggle" onclick="toggleControl(this);" >Toggle Draw Mode</button><br><br>
	<button class="disabled" name="point" value="Draw Point" id="pointToggle" onclick="toggleControl(this);" >Draw Point</button><br>
	<button class="disabled" name="line" value="Draw Line" id="lineToggle" onclick="toggleControl(this);" >Draw Line</button><br>
	<button class="disabled" name="polygon" value="Draw Polygon" id="polygonToggle" onclick="toggleControl(this);" >Draw Polygon</button><br>
	<button class="disabled" name="box" value="Draw Box" id="boxToggle" onclick="toggleControl(this);" >Draw Box</button><br>
	<button class="disabled" name="drag" value="Drag Feature" id="dragToggle" onclick="toggleControl(this);" >Move Drawings</button><br>
	<button class="disabled" name="pan" value="Enable pan while drawing" id="panToggle" onclick="enablePan(this);" >Enable Map Pan While Drawing</button><br>*@
</div>

</body>
</html>