@(hwGetResponse: String, hwPostResponse: String)

@main("HAN !Solo") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/slippymap.css")">
    <div id="slippyMapWrapper">
        <div id="slippyMap">
			@*This div is blank because it is just a wrapper for the map. It gets fills automatically*@
        </div>
    </div>
	@*This div is for displaying the http GET and POST responses from Tilecache*@
	@*<div>
        <div>
            Hello World GET response: @hwGetResponse
        </div>
        <div>
            Hello World POST response: @hwPostResponse
        </div>
    </div>*@
    
}